!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js")
    script(src='/javascripts/app.js')


  body!= body
